In [141]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [193]:
ps = pd.read_csv('patch_seq_log_mouse.csv')

In [194]:
ps = ps[["Date", "File", "Post patch?", "Time spent extracting cytosol", "patch duration", ">400", "SM_QC_PF", "Bad dates"]]
ps["Time spent extracting cytosol"] = pd.to_numeric(ps["Time spent extracting cytosol"].str.replace(' ',''), errors ='coerce')
ps.dropna(subset = ["Post patch?", "Time spent extracting cytosol", "patch duration", "SM_QC_PF"], inplace = True)
ps["SM_QC_PF"] = ps["SM_QC_PF"].astype("category")
ps["Post patch?"] = ps["Post patch?"].astype("category")
ps["patch duration"] = pd.to_numeric(ps["patch duration"].str.replace(' ',''), errors ='force')
ps[">400"] = pd.to_numeric(ps[">400"].str.replace(' ',''), errors ='force')
ps["Date"] = pd.to_datetime(ps["Date"], format = '%y%m%d')
ps = ps[ps["SM_QC_PF"] != "cnt"]
ps = ps[ps["Bad dates"] != "x"]
ps = ps.drop("Bad dates", 1)
ps.head()

,Date,File,Post patch?,Time spent extracting cytosol,patch duration,>400,SM_QC_PF
29,2016-04-07,Ndnf - kjh_160407_03,Nucleated patch,5.0,8.0,96.00,pass
30,2016-04-07,Ndnf - kjh_160407_04,Partial-Nucleus,5.0,7.0,111.00,pass
31,2016-04-07,Ndnf - kjh_160407_05,Entire-Cell?,5.0,7.0,27.30,fail
32,2016-04-07,Ndnf - kjh_160407_06,Outside-Out,5.0,7.0,18.76,fail
33,2016-04-07,Ndnf - kjh_160407_07,Outside-Out,2.0,4.0,100.00,pass

In [195]:
ps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2004 entries, 29 to 5676
Data columns (total 7 columns):
Date                             2004 non-null datetime64[ns]
File                             2003 non-null object
Post patch?                      2004 non-null category
Time spent extracting cytosol    2004 non-null float64
patch duration                   1992 non-null float64
>400                             1997 non-null float64
SM_QC_PF                         2004 non-null category
dtypes: category(2), datetime64[ns](1), float64(3), object(1)
memory usage: 98.0+ KB

In [196]:
ps = ps[ps["Date"] >= "2017-01-01"]
ps.head()

,Date,File,Post patch?,Time spent extracting cytosol,patch duration,>400,SM_QC_PF
3153,2017-01-09,Rbp4-Cre_KL100;Ai14-290392.04.02.01,Outside-Out,2.116667,12.316667,192.0,pass
3154,2017-01-09,Rbp4-Cre_KL100;Ai14-290392.04.02.02,Outside-Out,2.333333,12.533333,98.0,fail
3160,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.03.02.01,Outside-Out,2.116667,11.950000,195.0,pass
3161,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.03.02.02,Outside-Out,2.316667,13.466667,179.0,pass
3162,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.04.02.01,No-Seal,2.233333,12.416667,166.0,pass

In [197]:
ps["Time spent extracting cytosol"].sort_values()

4097    0.416667
5116    0.433333
4896    0.483333
5052    0.533333
4837    0.566667
4954    0.583333
4284    0.600000
5662    0.600000
5360    0.616667
5286    0.700000
4161    0.716667
4172    0.750000
5646    0.783333
5369    0.800000
5263    0.816667
4180    0.833333
5437    0.883333
5388    0.900000
5370    0.933333
5629    0.950000
5521    0.950000
5661    0.966667
4368    0.983333
5467    1.000000
4079    1.000000
5090    1.000000
5361    1.016667
5311    1.016667
4148    1.033333
5387    1.050000
          ...
5261    3.566667
5196    3.566667
5171    3.583333
5578    3.600000
5070    3.616667
5155    3.650000
4819    3.650000
5011    3.650000
5003    3.650000
5154    3.666667
5576    3.750000
5085    3.816667
5193    3.950000
5109    3.966667
5352    3.983333
5139    3.983333
4252    4.000000
4915    4.066667
4980    4.166667
5621    4.250000
5241    4.416667
4969    4.450000
5033    4.450000
5216    4.500000
5198    4.533333
4965    4.600000
5351    4.766667
5273    5.550000
5274    5.916667
5057    7.000000
Name: Time spent extracting cytosol, dtype: float64

In [198]:
ps["Time spent extracting cytosol"].value_counts

<bound method Series.value_counts of 3153    2.116667
3154    2.333333
3160    2.116667
3161    2.316667
3162    2.233333
3163    2.100000
3164    2.083333
3165    2.150000
3172    2.350000
3175    2.350000
3176    2.416667
3177    2.350000
3180    2.550000
3181    2.183333
3182    2.166667
3183    2.083333
3190    2.333333
3191    2.450000
3192    2.733333
3193    2.366667
3194    2.300000
3195    2.333333
3196    2.416667
3199    2.000000
3200    2.000000
3201    2.000000
3207    2.316667
3208    2.250000
3209    2.350000
3210    2.316667
          ...
5635    1.966667
5636    2.433333
5637    2.033333
5638    1.983333
5639    2.316667
5640    1.983333
5641    2.066667
5644    1.133333
5645    1.300000
5646    0.783333
5647    2.016667
5648    2.266667
5649    2.116667
5656    1.883333
5657    1.900000
5658    1.883333
5659    2.000000
5660    1.750000
5661    0.966667
5662    0.600000
5663    1.833333
5666    2.283333
5667    1.400000
5668    1.433333
5669    1.433333
5670    1.683333
5671    1.716667
5672    1.783333
5675    3.233333
5676    2.450000
Name: Time spent extracting cytosol, dtype: float64>

In [205]:
ps["cytosol extraction time bins"] = ps["Time spent extracting cytosol"].astype(int,)
ps.info()
#ps["cytosol extraction time bins"].sort_values()
ps.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 3153 to 5676
Data columns (total 8 columns):
Date                             1165 non-null datetime64[ns]
File                             1164 non-null object
Post patch?                      1165 non-null category
Time spent extracting cytosol    1165 non-null float64
patch duration                   1164 non-null float64
>400                             1160 non-null float64
SM_QC_PF                         1165 non-null category
cytosol extraction time bins     1165 non-null int32
dtypes: category(2), datetime64[ns](1), float64(3), int32(1), object(1)
memory usage: 61.6+ KB

,Date,File,Post patch?,Time spent extracting cytosol,patch duration,>400,SM_QC_PF,cytosol extraction time bins
3153,2017-01-09,Rbp4-Cre_KL100;Ai14-290392.04.02.01,Outside-Out,2.116667,12.316667,192.0,pass,2
3154,2017-01-09,Rbp4-Cre_KL100;Ai14-290392.04.02.02,Outside-Out,2.333333,12.533333,98.0,fail,2
3160,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.03.02.01,Outside-Out,2.116667,11.950000,195.0,pass,2
3161,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.03.02.02,Outside-Out,2.316667,13.466667,179.0,pass,2
3162,2017-01-10,Rbp4-Cre_KL100;Ai14-290393.04.02.01,No-Seal,2.233333,12.416667,166.0,pass,2

Now try averaging values in >400 column for each unique value in cytosol extraction time bins column.